https://neptune.ai/blog/customer-segmentation-using-machine-learning

In [1]:
import  pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("../data/customers-data - customers-data.csv")

In [3]:
df

       customer_id  products_purchased  complains  money_spent
0          1000661                   1          0        260.0
1          1001914                   1          0        790.2
2          1002167                   3          0        234.2
3          1002387                   1          0        890.0
4          1002419                   2          0        103.0
...            ...                 ...        ...          ...
23995      1000661                   1          0        263.0
23996      1001915                   1          1        799.2
23997      1002165                   3          0        235.2
23998      1002387                   1          0        894.0
23999      1002411                   2          0        105.0

[24000 rows x 4 columns]